form {
    border: 1px solid #FFFFFF;
    padding: 50px 50px 50px 50px;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 6%;
    background: #FFFFFF;
    height: 300px;
    box-shadow: 5px 5px 5px 5px #FFFFFF;
}

form button:hover {
    cursor: pointer;
    opacity: 0.6;
}